@use 'reset';
@use 'variables/global';
@use 'themes/normal';
@use 'themes/dark';

// [
// cls,
// ...additional,
// ...Object.entries(mods)
// .map(([cls, bl]) => {
// return bl ? cls : "";
// }),
// ].join(" ").trim()

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}